/*GROW*/

.grow img 			{-webkit-transition: all 1s ease;
					-moz-transition: all 1s ease;
					-o-transition: all 1s ease;
					-ms-transition: all 1s ease;
					transition: all 1s ease;}
 
.grow img:hover		{width: 370px;}



TILT

.tilt 				{-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					-ms-transition: all 0.5s ease;
					transition: all 0.5s ease;}
 
.tilt:hover 		{-webkit-transform: rotate(-0deg);
					-moz-transform: rotate(-0deg);
					-o-transform: rotate(-0deg);
					-ms-transform: rotate(-0deg);
					transform: rotate(-0deg);
}